<h1>Links Page</h1>

<div class="row">
  <h3>Create a new link</h3>
  <%= form_for @link, url: links_path do |f| %>
  <%= f.label :title  %>
  <%= f.text_field :title  %>

  <%= f.label :url  %>
  <%= f.text_field :url  %>

  <%= f.submit "Submit Link" %>
  <% end %>
</div>

<h3>All links</h3>
<div class="links">
  <% unless @links.nil? || @links.empty? %>
    <ul>
      <% @links.each do |link| %>
      <li><%= link.title %>: <%= link.url %></li>
      <% end %>
    </ul>
  <% end %>
</div>
