<!DOCTYPE html>
<html>
<head>
  <title>Thoughtbox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body>
  <nav>
    <h1>Thoughtbox!</h1>
  </nav>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="container">
    <% if current_user %>
      <%= link_to "Home", root_path %>
      <%= link_to "Links", links_path %>
      <%= link_to "Log Out", logout_path, method: :delete %>
    <% end %>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
